<div class="main-wrapper">
	<div class="header">
		<div class="sys-box">
			<span>福州市鼓台中心区</span>
			<span>智慧水环境运营监管平台</span>
		</div>
		<div class="site-box">
			梅峰河监测点
		</div>
		<span class="weather-box">
			<img src="../images/yun.png"/>
			<span>多云</span>
			<span>26℃</span>
		</span>
		<span class="time-box"><span>{{_date}}</span><span>{{_time}}</span></span>
	</div>
	<div class="content">
		<div class="main-panel" ui-view></div>
	</div>
	<div class="footer">
		
	</div>

	<input type="text" style="position: absolute; left: -1000px; top: 0; z-index: 100;" name="uname" title="解决360浏览器自动填充输入框的问题"/>
</div>